<main class="main u-container">
  <h1 class="page-title">Your Password</h1>
  <p class="page-subtitle">Update your GoShadow account password</p>
  <section class="grid_primary">


	<%= form_for @user, url: update_password_users_path, method: 'post' do |f| %>
	<div class="form__horizontal-group">
	  <%= f.label :password %>
	  <%= f.password_field :password %>
	 </div>
	 <div class="form__horizontal-group">
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
	 </div>
	  <%= f.submit 'Update My Password', :class => "btn btn-primary" %>
	<% end %>
	<br>
    <%= link_to '« Back To Your Settings', edit_user_path(@user) %>
  </section>

</main>


