<div class="note-single note-container note-reference note-<%= note.reference.type %>">
	<div class="note-single__icon">
		<% if note.reference.type == 'Place' %>
			<%= image_tag "icon_report-place--white.svg", class: "note-reference__icon-place" %>
		<% else %>
			<%= image_tag "icon_report-person--white.svg", class: "note-reference__icon-person" %>
		<% end %>
	</div>
	<div class="note-single__reference-meta">
		<div class="note-single__reference-meta-left">
			<p class="reference__start-time">	<%= note.created_at.localtime.strftime("%-I:%M%p on %m/%d/%y") %>
			</p>
			<h3 class="reference__name">
				<%= note.reference.name %>
			</h3>
		</div>
		<div class="note-single__reference-meta-right">
			<%= image_tag 'icon_duration--white.svg', class: 'reference__icon_duration' %>
			<a class="reference__duration" href='#' id="<%= 'editNoteTimer-' + note.id.to_s %>">
				<%= best_in_place note, :seconds, activator: "#editNoteTimer-#{note.id}", as: :input, url: segment_note_path(segment, note), display_as: :duration, inner_class: "test" %>
			</a>
		</div>
	</div><!-- note-meta-->
	<div class="note-single__actions">
  	<%= link_to segment_note_path(segment, note), method: 'delete', remote: true, class: 'note-single__delete', data: { confirm: 'Are you sure you want to delete this note?' } do %>
  		<svg class="icon icon__delete-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 22"><defs><style>.cls-1{fill:#fff;}</style></defs><title>icon_delete-white</title><path class="cls-1" d="M17.65 2.76h-4V1.49A1.28 1.28 0 0 0 12.34.21H7.66a1.28 1.28 0 0 0-1.27 1.28v1.27h-4v.85h1l1.49 16.95a1.39 1.39 0 0 0 1.35 1.23h7.65a1.39 1.39 0 0 0 1.35-1.23l1.58-16.95h.84v-.85zM7.24 1.49a.43.43 0 0 1 .43-.43h4.68a.43.43 0 0 1 .43.43v1.27H7.24V1.49zm7.15 19a.53.53 0 0 1-.51.46H6.23a.53.53 0 0 1-.51-.46L4.15 3.61H16z"/><path class="cls-1" d="M9.68 5.42h.85v13.61h-.85zM6.706 5.44l.85-.025.425 13.603-.85.027zM12.227 19.018l.432-13.603.848.027-.432 13.603z"/></svg>
  	<% end %>
  </div><!-- /actions-->
</div>