<%= javascript_include_tag 'reports' %>
<div class="u-card segment-single report-container">
  <div class="segment-single__main">
    <h3 class="segment-single__title">
      <%= report.name %>
    </h3>
    <p class="segment-single__note-count">
      <%= report.type_humanized %>
    </p>
    <p class="segment-single__location">
      <%= "Exported on #{date_time_to_date(report.created_at)} by #{report.created_by.name}" %>
    </p>
  </div>
  <div class="segment-single__actions">
    <%= link_to open_report_path(report, format: 'pdf'), target: '_blank', class: "segment-single__action" do%>
      View PDF
      <svg class="icon icon__caret-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 11"><path d="M.54 9.75v-8.5a.54.54 0 0 1 .94-.36l3.84 4.25a.54.54 0 0 1 0 .72l-3.84 4.25a.54.54 0 0 1-.94-.36z"/></svg>
    <% end %>
    <%= link_to open_report_path(report, format: 'csv'), class: "segment-single__action" do%>
      Download CSV
      <svg class="icon icon__caret-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 11"><path d="M.54 9.75v-8.5a.54.54 0 0 1 .94-.36l3.84 4.25a.54.54 0 0 1 0 .72l-3.84 4.25a.54.54 0 0 1-.94-.36z"/></svg>
    <% end %>
    <a report-id="<%= report.id %>" class="launch-send-report-modal segment-single__action" data-toggle="modal" data-target="#js-share-report">
      Send Report <svg class="icon icon__caret-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 11"><path d="M.54 9.75v-8.5a.54.54 0 0 1 .94-.36l3.84 4.25a.54.54 0 0 1 0 .72l-3.84 4.25a.54.54 0 0 1-.94-.36z"/></svg>
    </a>
    <%= link_to experience_report_path(@experience, report), method: :delete, remote: true, class: 'delete-report segment-single__action', data: { confirm: 'Are you sure you want to delete this report?' } do %>
      Delete Report
      <svg class="icon icon__caret-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 11"><path d="M.54 9.75v-8.5a.54.54 0 0 1 .94-.36l3.84 4.25a.54.54 0 0 1 0 .72l-3.84 4.25a.54.54 0 0 1-.94-.36z"/></svg>
    <% end %>
  </div>
</div>